.textarea-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

ion-textarea { 
    text-align: center;
    height: 150px;
}